.entry-container {
  background: #FFF;
  position: relative;
  margin: 0 25px 20px;
}
.post h1 {
  margin: 0 0px 20px;
}
.entry-content p {
  margin: 15px 0px 20px;
}
.separator a {
  margin-left: 0px!important;
}

.meta1 {
  margin-bottom: 30px;
}
div.post-avatar {
border: 3px solid #eaeaea;
width: 100px;
height: 100px;
overflow: hidden;
float: left;
-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.foundation {

}

.meta {

margin-left: 25px;

}

.meta .fa {
  margin-right: 5px;
}

.avatar-name {
color: #fff;
font-size: 18px;
margin-left: 126px;
margin-bottom: -48px;
padding-top: 17px;
}
.post-avatar:hover {
border-radius: 50%;
-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}


.sidebar h2 span {
position: relative;
  bottom: -2px;

  padding-bottom: 8px;
  margin-top: 0px;

  border-bottom: 2px solid #2f3c4e;

}
.read-more {
  display: block;
  float: right;
  text-align: center;
  padding: 10px 20px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0;
  font-weight: normal;
  background-color: #e74c3c!important;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
}


.read-more:hover {
background:#4ECDC4;
color:#fff;
}

#masthead.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0px auto;
    z-index: 999;
    height: 50px;
}

#masthead.fixed-nav li > a{padding: 6px 20px 10px;
}
  #masthead.fixed-nav img{margin-top: -3px;
width: auto;
max-height: 46px;}


#masthead.fixed-nav form {
margin-top: -16px;
}
#masthead.fixed-nav h1 {
font-size: 20px;
margin-top: 9px;
}


 #related-posts #owl-demo {
    overflow: visible;
padding: 0px 10px;
  }
  #related-posts {
    height: 240px;
    overflow: hidden;
z-index: 100;
background: #fff;
  }
  #related-posts .title {
    background: none repeat scroll 0% 0% #FFF;
    padding: 5px 20px;
    margin: 0px 0px 15px;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
    font-size: 22px;

  }
  #owl-demo {
    max-height: 233px;
  }
  .owl-wrapper-outer {
    overflow: hidden;
    max-height: 230px;
  }
  #related-posts .owl-controls.clickable {
    position: relative;
        margin-top: 10px;
  }
  .owl-wrapper {
    position: relative;
  }
  .owl-item {
    float: left;
    padding: 0px 10px;
    width: 222px !important;
  }
  .owl-item:first-child {
    padding: 0px 10px 0px 0px;
  }
  .item-img {
    position: relative;
  }
  #related-posts .owl-controls.clickable .owl-pagination {
    position: absolute;
    right: 0px;
    top: -208px;
  }
  .owl-theme .owl-controls .owl-page {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 5px 14px 5px -10px;
    opacity: 0.5;
    border-radius: 20px;
    background: none repeat scroll 0% 0% #DDD;
    cursor: pointer;
  }
  .owl-theme .owl-controls .owl-page.active, .owl-theme .owl-controls.clickable .owl-page:hover {
    opacity: 1;
    background: none repeat scroll 0% 0% #333;
  }
  #related-posts img {
    background: url('http://1.bp.blogspot.com/-EpAZ7479vZU/U8q4-6oeF5I/AAAAAAAAB2w/mQFhf-xZRko/s1600/background.png') repeat scroll 0% 0% #fff;
    display: table-cell;
    text-align: center;
    color: #EB005D;
    font-size: 19px;
  }


div.meta1 p {
padding: 10px 0;
margin-bottom: -20px;
font-size: 16px;
color:#9a9a9a;
}
.meta1 span{margin-right:10px}

.label,.badge{display:inline-block;padding:2px 4px;font-size:11.844px;font-weight:bold;line-height:14px;color:#fff;vertical-align:baseline;white-space:nowrap;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#999}
.label{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.badge{padding-left:9px;padding-right:9px;-webkit-border-radius:9px;-moz-border-radius:9px;border-radius:9px}
.label:empty,.badge:empty{display:none}
a.label:hover,a.label:focus,a.badge:hover,a.badge:focus{color:#fff;text-decoration:none;cursor:pointer}



#footer{  line-height: 30px;
  padding: 25px 0 14px 0;
  background-color: #293545;}#footer
p{font-size:13px;float:left;line-height:30px}#footer .go-top{float:right;margin-left:20px;padding-left:20px;border-left:1px solid rgba(0,0,0,0.1)}#footer .go-top
a{display:block;width:30px;height:30px;color:#fff;font-size:14px;text-align:center;border-radius:2px;background-color:#E74C3C;transition:background-color 0.2s ease-in-out;-moz-transition:background-color 0.2s ease-in-out;-webkit-transition:background-color 0.2s ease-in-out;-o-transition:background-color 0.2s ease-in-out}#footer .go-top a:hover{background-color:#444}#footer .go-top a
i{line-height:30px}
#footer a{color:#E74C3C}


.share-story-container h4 {
margin: 0;
width: 100%;
padding-right: 15px;
padding-bottom: 5px;
margin-bottom: 5px;
display: block;
text-align: center;
font-size: 16px;
line-height: 40px;
float: none;
border-bottom: 1px solid rgba(0,0,0,0.1);
}


.pull-right.share-story-container a {
color: rgba(0,0,0,0.3);
font-size: 24px;
padding: 10px;
}

ul.share-story li {
margin: 10px 6px 0px;
}

/*  Author Widget  */
.bl_author > img{
  width: 100%;
}
.bl_author > h3 + img{
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
#footer-body .bl_author .widget-body{
  background: #ffffff;
  padding: 0 15px 15px;
}
.bl_author .widget-body{
  position: relative;
  text-align: center;
}
.bl_author > img + .widget-body .bl_author_img + .bl_author_bio{
  padding-top: 50px;
}
.bl_author .bl_author_bio{
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  color: #333;
}
.bl_author .bl_author_bio > h3{
  margin: 15px 0 0;
  font-size: 22px!important;
  padding-bottom: 10px!important;
}
#footer-body .bl_author .bl_author_bio{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.bl_author .bl_author_bio p{
  margin: 0;
}
.bl_author_img {
  -moz-border-radius: 500px;
  -webkit-border-radius: 500px;
  border-radius: 500px;
  height: 100px;
  width: 100px;
  background: #fff;
  padding: 5px;
}
.bl_author > img + .widget-body .bl_author_img {
  left: 50%;
  margin: 0 -50px;
  position: absolute;
  top: -45px;
  overflow: hidden;
}
.bl_author > img + .widget-body .bl_author_img img{
  -moz-border-radius: 500px;
  -webkit-border-radius: 500px;
  border-radius: 500px;
  height: 90px;
  max-width: none;
  width: 90px;
}


/*
    AUTHOR BOX
*/

.author-meta{
  position: relative;
  text-align: left;
  background-color: #7D7D7D;
}
.author-meta .author-image{
  border: 5px solid rgba(0,0,0,0.2);
  border-radius: 500px 500px 500px 500px;
  top: 50%;
  margin-top: -45px;
  display: inline-block;
  position: absolute;
  left: 35px;
}
.author-meta .author-image img{
  height: 90px;
  width: 90px;
  border-radius: 500px 500px 500px 500px;
}
.author-meta .author-body{
  text-shadow: 1px 2px 1px rgba(0,0,0,0.15);
  padding: 18px 65px 18px 155px;
}
.author-meta .author-body .author{
  color: #FFFFFF;
  margin: 5px 0;
}
.author-meta .author-body p{
  color: #FFFFFF;
  font-size: 16px;
}

h2.vcard.author a {
color: #fff;
}

.author-meta.box a {
color: #09F0E6;
}
