/**
 * Slick slider styles
 *
 * @package    Receptar
 * @copyright  2015 WebMan - Oliver Juhas
 *
 * @since    1.0
 * @version  1.0
 */



	/**
	 * Slider container
	 */

		.slick-slider {
			display: block;
			position: relative;
			-webkit-touch-callout: none;
			  -webkit-user-select: none;
			     -moz-user-select: none;
			      -ms-user-select: none;
			          user-select: none;
			     -ms-touch-action: pan-y;
			         touch-action: pan-y;
			-webkit-tap-highlight-color: transparent;
		}

			.slick-list,
			.slick-track,
			.slick-slide,
			.slick-slide img {
				-webkit-transform: translate3d(0, 0, 0);
				   -moz-transform: translate3d(0, 0, 0);
				    -ms-transform: translate3d(0, 0, 0);
				        transform: translate3d(0, 0, 0);
			}



		/**
		 * Slides wrapper container
		 */

			.slick-list {
				display: block;
				position: relative;
				padding: 0;
				margin: 0;
				overflow: hidden;
				-webkit-transition: all .4s ease-in-out;
				   -moz-transition: all .4s ease-in-out;
				    -ms-transition: all .4s ease-in-out;
				        transition: all .4s ease-in-out;
			}
			.slick-list:focus { outline: none; }
			.slick-list.dragging {
				cursor: pointer;
				cursor: hand;
				cursor: move;
				cursor: -webkit-grab;
				cursor: -o-grab;
				cursor: -ms-grab;
				cursor: grab;
			}



			/**
			 * Slides container
			 */

				.slick-track {
					position: relative;
					left: 0;
					top: 0;
					display: block;
					zoom: 1;
				}
				.slick-track:before,
				.slick-track:after {
					content: '';
					display: table;
				}
				.slick-track:after { clear: both; }
				.slick-loading .slick-track { visibility: hidden; }



				/**
				 * Slides
				 */

					.slick-slide {
						float: left;
						display: none;
						height: 100%;
						min-height: 1px;
					}
					.slick-slide img {
						display: block;
						pointer-events: none;
					}
					.slick-slide.slick-loading img { display: none; }
					.slick-slide.dragging img { pointer-events: none; }
					.slick-initialized .slick-slide { display: block; }
					.slick-loading .slick-slide { visibility: hidden; }
					.slick-vertical .slick-slide {
						display: block;
						height: auto;
						border-top: 1px solid transparent;
					}



		/**
		 * Navigation
		 */

			.slick-slider button .genericon { font-size: 1.62em; }

				.slick-prev.slick-disabled,
				.slick-next.slick-disabled { opacity: .25; }



	/**
	 * Theme modifications
	 */

		/**
		 * Banner slider
		 */

			.site-banner .slick-slider .slider-nav {
				position: relative;
				height: 0;
				padding: 0;
			}
			.site-banner .slider-nav { z-index: 1; }

			.site-banner .slick-prev,
			.site-banner .slick-next {
				display: inline-block;
				position: absolute;
				width: 3.62rem;
				height: 3.62rem;
				right: 5rem;
				bottom: 3.62rem;
				padding: 0;
				margin: 0;
				text-align: center;
				font-size: 1em;
				background-color: transparent;
				color: #fff;
				border: 1px solid #fff;
				opacity: .5;
				-webkit-transform: rotate( 45deg );
				    -ms-transform: rotate( 45deg );
				        transform: rotate( 45deg );
				-webkit-transition: opacity .4s ease-in-out;
				   -moz-transition: opacity .4s ease-in-out;
				    -ms-transition: opacity .4s ease-in-out;
				        transition: opacity .4s ease-in-out;
			}
			.site-banner .slick-next { right: 1rem; }

			.site-banner .slick-prev span,
			.site-banner .slick-next span {
				-webkit-transform: rotate( -45deg );
				    -ms-transform: rotate( -45deg );
				        transform: rotate( -45deg );
			}

				.site-banner .slick-prev:hover,
				.site-banner .slick-next:hover,
				.site-banner .slick-dots .slick-active button { opacity: 1; }

				.site-banner .slick-prev .genericon,
				.site-banner .slick-next .genericon { vertical-align: middle; }



/* End of file */