<footer id="colophon" class="site-footer" itemscope="" itemtype="http://schema.org/WPFooter">
   <div class="site-footer-area footer-area-site-info">
      <div class="site-info-container">
         <div class="site-info" role="contentinfo">
           {% if site.copyright %}
           {{ site.copyright }}
           {% endif %}
         </div>
      </div>
   </div>
</footer>
