<div class="site-footer" id="colophon" role="contentinfo">
  <footer class="footer" id="footer">
    <div class="container1 clearfix">
      <div class="go-top">
        <a href="#"><i class="fa fa-angle-up"></i></a>
      </div>
      <p></p>
      <div id="mycontent">
        {% if site.copyright %}
        {{ site.copyright }}
        {% endif %}
      </div>
      <p></p>
    </div>
  </footer>
</div>
