{% extends 'partials/base.html.twig' %}

{% block content %}
{% include 'partials/blog_sidebar_header.html.twig' %}
<div class="post">
  <div class="entry-container">
    <div class="entry-content  single">
      <h1 class="entry-title single">{{ page.header.title }}</h1>
      {{ content }}
      {% if config.plugins.form.enabled %}
      {% include "forms/form.html.twig" %}
      {% endif  %}
      <div class="clear"></div>
    </div>
  </div>
</div>

{% include 'partials/blog_sidebar_footer.html.twig' %}
{% endblock %}
